---
import Section from "../components/common/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Section class="mt-16">
    <h1 class="text-3xl sm:text-4xl font-display pb-8">
      Bueno, esto es incómodo
    </h1>
    <h2 class="text-xl sm:text-2xl pb-8">404 - Página no encontrada</h2>
    <p>
      Parece que esta página no existe. Si quieres volver a un lugar seguro, <a
        class="underline underline-offset-4 font-medium"
        href="/">haz clic aquí para ir al inicio</a
      >.
    </p>
  </Section>
</Layout>